/* Universal Project Styles */
body {
    margin: 0;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color:black;
    opacity: 0.9;
    text-align: center;
}

header {
    display: flex;
    position: fixed;
    border-bottom: 1px solid seashell;
    width: 100%;
    align-items: center;
    background-color: black;
}

a {
    color: seashell;
}

h2, 
h3, 
h4 {
    margin: 15px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  /* Header */

.logo {
    display: flex;
    flex-grow: 1;
    padding: 9.5px 10px;
}

nav span {
    display: inline-block;
    padding: 20px 10px;
}

.content {
    display: flex;
    align-items: center;
    padding-top: 69px;
    flex-flow: column;
}

.mission-image {
    display: flex;
    height: 700px;
    width: 1200px;
    background-image: url("../../resources/images/img-mission-background.jpg");
    align-items: center;
}

#mission {
    width: 100%;
    background-color: black;
}

#tea {
    width: 1000px;
    padding-top: 40px;
}

.items {
    width: 1000px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.item {
    margin: 10px;
}

.locations-image {
    background-image: url("../../resources/images/img-locations-background.jpg");
    width: 1200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#locations {
    display: flex;
}

.location {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 15px;
    opacity: 1;
}

.location span {
    display: flex;
    justify-content: center;
    margin: 15px auto;
}

.copyright {
    text-align: left;
    margin-left: 20px;
}